/*serach*/
.input-group-addon{border-radius: 0; background-color:#fff; border-right: 0;}
.form-control{border-radius: 0; border-left: 0; border-right:0;}
.row{margin-right: 0;}

/*导航*/
.navbar{min-height:40px; height: 42px;}
.navbar-nav>li>a{padding-top: 0; padding-bottom: 0;}
.navbar-nav>li{margin-right: 30px;}
.navbar-inverse .navbar-nav>.active>a,.navbar-nav>li:hover,.navbar-inverse .navbar-nav>.active>a:hover{background-color: #a00200;}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>li>a{line-height: 42px; font-size: 1.6rem; color: #fff;}
.navbar-inverse{background-color: #c92826; border-color:#c92826;}

/*选项卡*/
.slideTxtBox{ width:100%; text-align:left; position: absolute; top: 0; }
.slideTxtBox .hd{ height:22px; line-height:30px; padding:0 10px 0 20px; position:relative; }
.slideTxtBox .hd ul{ float:left; position:absolute; left:100px; top:-1px; height:22px; list-style: none;}
.slideTxtBox .hd ul li{ float:left; padding:0 25px; cursor:pointer; line-height: 22px; font-size: 1.2rem;}
.slideTxtBox .hd ul li.on{ height:22px; background: url(../images/index/choose_03.png) repeat; border:1px solid #ddd; border-bottom:2px solid #fff; color: #c92826; }
.slideTxtBox .bd ul{ padding:11px 0 0 15px;  zoom:1;}
.slideTxtBox .bd li{ height:28px;}
.slideTxtBox .bd li .date{ float:right; color:#999;  }

/*分页*/
ul.pagination{position: relative;}
ul.pagination li a{font-size: 1.2rem;} 
.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{border-radius: 0;}
ul.pagination li a#prev{margin-right: 10px; background: #f00; color: #fff; background: #dedede;}
ul.pagination li a#next{margin-left: 10px; color: #fff; background: #c92826;}
ul.pagination li a img{margin: 0 5px; width: 7px;}
.pagination>li>a.checkActive,.pagination>li>a:hover{background-color: #c92826; color: #fff;}
a#shenglve{border-top: 0; border-bottom: 0;}
span#totlePage{position: absolute; top: 8px; right: -86px; font-size: 1.2rem;}
